<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title><%= title %></title>
	<script src="/jquerys.js">  </script>
	<script src="/angular.js">  </script>
	<link rel="stylesheet" type="text/css" href="/style/index.css"/>
</head>
<body>
	<header>
		<div class="header">
			<h2> 率土之滨群官网 </h2>
			<ul> 
				<li> 您目前只能登录(账号由网站所有者统一发放,您可以联系作者) </li>
				<li> 该网站最终解释权,只归网站作者本人! </li>
			</ul>
		</div>
	</header>
	<main>
		